body{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

form{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section{
    display: flex;
    flex-direction: column;
}
input{
    padding: 8px;
    width: 300px;
    color: blue;
}
button{
    padding: 8px;
    font-size: 20px;
}
::placeholder{
    color : red;
}